npm-debug.log
node_modules
.project
.vscode
.history
.DS_Store
\.settings/
build/env.js
dist/
.idea/
/package-lock.json
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
